body {
    font-family: sans-serif;
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    min-width: 50px;
    max-width: 150px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-radius: 6px;
}